{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}


 <!-- ======= Book A Table Section ======= -->
 <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
      
      <div class="section-title">
        
        <h2>Reservation</h2>
        <p>Book a Table</p>
       
        {% if user.is_authenticated %}
      {{user.id}}
      
      </div>

      
     {{errors}}
      
     {% for message in messages %}
      <center>
        <div class="alert alert-success" role="alert" id="msg">
          <h4 class="alert-heading">{{message}}</h4>
        
        
        
      </div>
      </center>
        <br>
        <br>
    {% endfor %}  
     
      {% if submitted %}
      Your Venue was Submitted

      {% else %}

      <form action="" method="POST" role="form">
        {% csrf_token %}
        {% bootstrap_form customer_form %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
      
    </form> 

      {% endif %}

      {% else %}
      <h3>You must be logged in</h3>
      <a href="{% url 'reservation:login' %}">Loggin</a>
        
      {% endif %} 
        
        
       
    </div>
  </section>
  <!-- End Book A Table Section -->
  

{% endblock content %}