{% extends 'base.html' %}
{% load static %}
{% block body %}

 <!-- ======= Book A Table Section ======= -->
 <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        
        <h2>Reservation</h2>
        <p>Your Booking</p>
        
        
        
        <table class="table">
          
          <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Persons</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Book new table</th>
            
              
              
              
            </tr>
            {% for reserve in orders %}
            
            
            
            
            <tr class="table-success">
              
              
              
              <th scope="row">{{reserve.id}}</th>
              <td>{{reserve.name}}</td>
              <td>{{reserve.email}}</td> 
              <td>{{reserve.persons}}</td>
              <td>{{reserve.time}}</td>
              <td>{{reserve.date}}</td>
              <td>{{reserve.phone}}</td>
              <td>{{reserve.status}}</td>
              
              
              
              <td><a class="btn btn-info" href="{% url 'reservation:customer_table' reserve.id%}">view</a></td>
              
              <td><a class="btn btn-success" href="{% url 'reservation:update_order' reserve.id%}">Update</a></td> 
              <td><a class="btn btn-danger" href="{% url 'reservation:delete_order' reserve.id%}">Delete</a></td> 
              <td><a class="btn btn-info" href="{% url 'reservation:create_order' %}">Book new table</a></td>
              
              
            </tr>
            
            {% endfor %}
            
            
           
          
        </table>
        
      </div>

      
     
      
      <!-- {% for messagess in messages %}
      <center>
        <div class="alert alert-success" role="alert" id="msg">
          <h4 class="alert-heading">Thank you!</h4>
        <h5>Your table booking done successfully and we will respond shortly...</h5>
        
        
      </div>
      </center>
        <br>
        <br>
      {% endfor %} -->
     
      
       
        
    </div>
  </section>
  <!-- End Book A Table Section -->
  

{% endblock body %}
