{% extends 'base.html' %} {% load static %} {% load bootstrap5 %} 
{% block content %}

<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Reservation</h2>
      <p>Update Your Booking</p>

      {{order.user}}

      <!-- <table class="table">
          
            <tr class="table-primary">
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Guest</th>
              <th scope="col">Time</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
            {% for res in pp %}
         
          
            <tr class="table-success">
              <th scope="row">{{res.id}}</th>
              <td>{{res.customer}}</td>
              <td>{{res.persons}}</td>
              <td>{{res.time}}</td>
              <td>{{res.date}}</td> 
              <td>{{res.status}}</td> 
              <td><a href="">Update</a></td> 
              <td><a href="">View</a></td> 
              <td><a href="">Delete</a></td> 
              
              
            </tr>
            {% endfor %}
           
          
        </table>
         -->
    </div>

    {% for messagess in messages %}
    <center>
      <div class="alert alert-success" role="alert" id="msg">
        <h4 class="alert-heading">Thank you!</h4>
        <h5>
          Your table booking done successfully and we will respond shortly...
        </h5>
      </div>
    </center>
    <br />
    <br />
    {% endfor %}

    <form action="" method="POST" role="form">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  </div>
</section>
<!-- End Book A Table Section -->

{% endblock content %}
